<form action="/robots/<%= @robot.id %>" method="post">
  <h1>Edit <% @robot.name %></h1>
  <input type="hidden" name="_method" value="PUT" />
  <input type='text' name='robot[name]' value="<%= @robot.name %>"/><br/>
  <input type='text' name='robot[city]'  value="<%= @robot.city %>"/><br/>
  <input type='text' name='robot[state]' value="<%= @robot.state %>"/><br/>
  <input type='text' name='robot[avatar]'value="<%= @robot.avatar %>"/><br/>
  <input type='text' name='robot[birthday]' value="<%= @robot.birthday %>"/><br/>
  <input type='text' name='robot[date_hired]' value="<%= @robot.date_hired %>"/><br/>
  <input type='text' name='robot[department]' value="<%= @robot.department %>"/><br/>
  <input type='submit'/>
</form>