<h1>All Worker Drones</h1>
<h2>Employees: <%= @population %></h2>

<div class="row">
  <% @robots.each do |robot| %>
    <div class="col-sm-3">
      <div class="robot_profiles">
        <img src="<%= robot.avatar %>">
        <h2><a href="/robots/<%= robot.id %>"><%= robot.name %></a></h2>
        <h3>Department: <%= robot.department %></h3>
        <a class="btn btn-default" role="button" href="/robots/<%= robot.id %>/edit">edit</a>
        <form action="/robots/<%= robot.id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input class="btn btn-default" type="submit" value="terminate"/>
        </form>
      </div>
    </div>
  <% end %>
</div>
