<h1><%= @robot.name %></h1>
<img src="<%= @robot.avatar %>">
<ul>
  <li>City : <%= @robot.city %></li>
  <li>State : <%= @robot.state %></li>
  <li>Birthday : <%= @robot.birthday %></li>
  <li>Date Hired : <%= @robot.date_hired %></li>
  <li>Department : <%= @robot.department %></li>
</ul>

<a href="/robots">Back to index</a>

