<h1><%= @robot.name %></h1>
<img src="<%= @robot.avatar %>">
<ul>
  <li><%= @robot.city %></li>
  <li><%= @robot.state %></li>
  <li><%= @robot.birthday %></li>
  <li><%= @robot.date_hired %></li>
  <li><%= @robot.department %></li>
</ul>

<a href="/robots">Back to index</a>

